name: Scrape attendance

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 0/6 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:

    - name: Check out this repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6.8'        

    - name: install python packages
      run: |
        python -m pip install --upgrade pip
        pip install -r parse/requirements.txt        

    - name: execute parse/attendance.py
      run: python parse/attendance.py

    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
